.container{
    height: fit-content;
    width: 75%;
    min-width: fit-content;
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 14rem);
   justify-content: center;
    gap: 30px;
    
}

.product{
    position: relative;
    height: 20rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5px;
    img{
        max-height: 75%;
        min-width: 100%;
        border-radius: 3px;
    }
    h2{
        position: absolute;
        margin-left: 80%;
        margin-top: -135%;
        &:hover{
            cursor: pointer;
        }
    }
}

