@mixin setPerScreen ($width, $searchSize) {
@media all and (max-width: $width){
    .searchBox{
        width: $searchSize;
    }
}
}
@media all and (max-width: 500px){
    .results{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results{
    width: 95%;
    height: 75%;
    display: flex;
}
.navbar{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBox{
    position: relative;
    width: 35%;
    height: 37%;
}

.search{
    position: absolute;
    width: 88%;
    height: 100%;
    border-radius: 0.5rem;
    font-size: x-large;
    font-weight: 100;
    color: rgb(122, 115, 115);
    padding-left: 4%;
    padding-right: 8%;
    border: 0.5px solid gray;
    &:focus{
        outline: none;
    }
    &::placeholder{
        font-weight: lighter;
    }
}


.searchLogo{
    position: absolute;
    top: 27%;
    left: 92%;
    max-height: 50%;
    max-width: 50%;
    opacity: 0.5;
    &:hover{
        cursor: pointer;
        max-height: 52%;
        max-width: 52%;
    }
}

@include setPerScreen(800px, 60%);
@include setPerScreen(500px, 80%);
@include setPerScreen(350px, 95%);