@mixin setPerScreen($size, $width){
    @media all and (max-width: $size){
        .container{
            width: $width;
        }
        .search{
            padding-right: 10%;
        }
        .searchLogo{
            left: 92%;
        }
        .photosFlex{
            height: 20%;
        }
    }
}

.container{
    margin-top: 7%;
    height: 70%;
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.searchBox{
    position: relative;
    width: 85%;
    height: 11%;
}

.search{
    position: absolute;
    width: 88%;
    height: 100%;
    border-radius: 1rem;
    font-size: x-large;
    font-weight: 100;
    color: rgb(122, 115, 115);
    padding-left: 4%;
    padding-right: 8%;
    border: none;
    box-shadow: 6px 10px 8px rgba(128, 128, 128, 0.362);
    &:focus{
        outline: none;
    }
    &::placeholder{
        font-weight: lighter;
    }
}


.searchLogo{
    position: absolute;
    top: 25%;
    left: 92%;
    max-height: 50%;
    max-width: 50%;
    opacity: 0.5;

    &:hover{
        cursor: pointer;
        max-height: 52%;
        max-width: 52%;
    }
}

@include setPerScreen(800px, 85%);

@include setPerScreen(400px, 100%);


//suggestion Box css
.suggestionWrapper{
    width: 100%;
    height: 87%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 40px gray;
}

.suggestion{
    height: 88%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 h3{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
 }
}

.photosFlex{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.photo{
    height: 100%;
    width: 17.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img{
        min-width: 100%;
        max-height: 85%;
        min-height: 65%;
        border-radius: 5px;
    }
}

.popularSuggestions{
    height: 25%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-bottom: 5%;
}