@mixin filterTitle() {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
@mixin brandStyles () {
    display: flex;
    justify-content: baseline;
    width: 50%;
    margin-left: 5%;
    margin-top: -7%;
    input{
        height: 1rem;
        width: 1rem;
        margin-right: 10%;
        margin-top: 1%;
        &:hover{
            cursor: pointer;
        }
    }
}
@mixin setPerScreen($size, $width){
    @media all and (max-width: $size){
        .container{
            width: $width;
        }
        
    }
}


.container {
    position: sticky;
    top: 0;
    height: 65%;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.filters{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.brand {
    @include filterTitle();
}

.price {
    @include filterTitle();
}

.ratings{
    @include filterTitle();
}

.brandList{
    height: 12%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.brand1{
    @include brandStyles();
}

.brand2{
    @include brandStyles();
}

.priceList{
    height: 12%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.price1{
    @include brandStyles();
}
.price2{
    @include brandStyles();
}

.ratingList{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rating1{
    @include brandStyles();
    input{ margin-top: 3%;}
}
.rating2{
    @include brandStyles();
    input{ margin-top: 3%;}
}
.rating3{
    @include brandStyles();
    input{ margin-top: 3%;}
}
.rating4{
    @include brandStyles();
    input{ margin-top: 3%;}
}
.rating5{
    @include brandStyles();
    input{ margin-top: 3%;}
}

@include setPerScreen(1000px, 45%);
@include setPerScreen(500px, 100%);
